<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>

<h3>task completed: <%= @task.completed %></h3>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: {confirm: "are you sure?"}  %>

<%= link_to 'Back to tasks', '/tasks' %>
